<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>OCI Utilities</title>
      {% endif %}
    </head>
    <body>
        <div><h1>OCI Utilities</h1></div>

        <div><h3><a href="{{ url_for('get_config_route') }}">Show Configuration</a></h3></div>
        <div><h3><a href="{{ url_for('get_oci_user_route') }}">Show User</a></h3></div>

        {% if context['compartment_scope'] == None -%}

            <div><h3><a href="{{ url_for('get_compartment_scope_route') }}">Select Compartment</a></h3></div>
            <div><p>You'll need to have a valid compartment selected to run this utility.</p></div>

        {% else -%}

            <div><h3><a href="{{ url_for('get_compartment_scope_route') }}">Change Compartment</a></h3> <i>{{ context['compartment_scope'] }}</i></div>
            <br />
            <hr>
            <div><h3><a href="{{ url_for('get_compute_route') }}">Show Compute Instances</a></h3></div>
            <div><h3><a href="{{ url_for('get_vcns_route') }}">Show VCNs</a></h3></div>
            <div><h3><a href="{{ url_for('get_subnets_route') }}">Show Subnets</a></h3></div>
            <div><h3><a href="{{ url_for('get_vnic_attachments_route') }}">Show VNIC Attachments</a></h3></div>
            <div><h3><a href="{{ url_for('get_vcn_compute_digest_route') }}">Show VCNs with Attached Compute Digest</a></h3></div>
            <hr>

        {% endif %}

        {% block content %}{% endblock %}
    </body>
</html>
