{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Select Compartment
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="mx-lg-auto">

      <h1 class="pt-5 pb-2">Select Compartment Scope</h1>

      <p class="lead">Please enter a valid OCI compartment OCID.</p>

      {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>

{% endblock %}
