{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Select Compartment
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="mx-lg-auto">

      <h2 class="pt-5 pb-2">Oracle Cloud Infrastructure</h2>
      <p class="lead"><strong>{{ message }}</strong></p>
      {{ wtf.quick_form(form) }}

    </div>
  </div>
</div>

{% endblock %}
