{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
OCI Utilities Example
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="mx-lg-auto">

      <h1 class="pt-5 pb-2">OCI Utilities</h1>

        <p class="lead">Configuration</p>

        {% if context['compartment_scope'] == None -%}

            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('get_config_route') }}">Show Configuration</a></li>
                <li class="list-group-item"><a href="{{ url_for('get_validate_route') }}">Validate Configuration</a></li>
                <li class="list-group-item"><a href="{{ url_for('get_compartment_scope_route') }}">Select Compartment</a></li>
                <li class="list-group-item">
                    <div class="alert alert-warning" role="alert">
                        <p>You'll need to have a valid compartment selected to run this utility.</p>
                    </div>
                </li>
            </ul>

        {% else -%}

            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('get_config_route') }}">Show Configuration</a></li>
                <li class="list-group-item"><a href="{{ url_for('get_compartment_scope_route') }}">Change Compartment</a></li>
                <li class="list-group-item">
                    <div class="alert alert-success" role="alert">
                        {{ context['compartment_scope'] }}
                    </div>
                </li>
            </ul>

            <br />

        <p class="lead">Identity and Security</p>

            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('get_oci_user_route') }}">Show User Details</a></li>
                <li class="list-group-item"><a href="{{ url_for('get_audit_events_route') }}">List Audit Events / past 5 minutes</a></li>
            </ul>

            <br />

        <p class="lead">Search Service</p>

            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('get_search_for_ocid_form_route') }}">Search by OCID</a></li>
                <li class="list-group-item"><a href="{{ url_for('get_compartment_details') }}">Search by Compartment OCID</a></li>
            </ul>

            <br />

        <p class="lead">Logging Service</p>

            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('get_log_group_scope_route') }}">Choose Log Group</a></li>
                <li class="list-group-item">
                    <div class="alert alert-success" role="alert">
                        {{ context['log_group_scope'] }}
                    </div>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('get_log_scope_route') }}">Choose Log</a></li>
                <li class="list-group-item">
                    <div class="alert alert-success" role="alert">
                        {{ context['log_scope'] }}
                    </div>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('get_search_logs_route') }}">Search Logs / past 60 minutes / limit 10 records</a></li>
            </ul>

            <br />

        <p class="lead">Monitoring Service</p>
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('put_custom_metric_route') }}">Put Custom Metrics</a></li>
            </ul>

            <br />

        <p class="lead">Compute Service</p>

            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('get_compute_route') }}">Show Compute Instances</a></li>
                <li class="list-group-item"><a href="{{ url_for('get_compute_status_route') }}">Show Compute Instance Status</a></li>
                <li class="list-group-item"><a href="{{ url_for('start_compute_route') }}">Start Compute Instances</a></li>
                <li class="list-group-item"><a href="{{ url_for('stop_compute_route') }}">Stop Compute Instances</a></li>
            </ul>

            <br />

        <p class="lead">Networking Service</p>

            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('get_vcns_route') }}">Show VCNs</a></li>
                <li class="list-group-item"><a href="{{ url_for('get_subnets_route') }}">Show Subnets</a></li>
                <li class="list-group-item"><a href="{{ url_for('get_vnic_attachments_route') }}">Show VNIC Attachments</a></li>
                <li class="list-group-item"><a href="{{ url_for('get_vcn_compute_digest_route') }}">Show VCNs with Attached Compute Digest</a></li>
            </ul>

            <br />

         <p class="lead">Storage Service</p>

            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('get_block_volumes_route') }}">Show Block Volumes</a></li>
            </ul>

            <br />

        <p class="lead">Usage</p>

            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('get_usage_report') }}">Show Usage Report</a></li>
            </ul>

            <br />

        {% endif %}

      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>

{% endblock %}
